@model ReviewsViewModel

<ul class="menu-tab">
    <li class="active">Reviews</li>
</ul>
<div class="content-tab">
    <div class="content-inner">
        <div class="inner max-width-83 padding-top-33">
            @if (Model.Reviews != null && Model.Reviews.Count() > 0)
            {
                <ol id="reviews" class="review-list">
                    @foreach (var review in Model.Reviews)
                    {
                        var userName = Model.User.Users.Where(u => u.Id == review.UserId).First().Name;

                        <li class="review">
                            <div class="thumb">
                                @*<img src="images/avatar-1.png" alt="Image">*@
                            </div>
                            <div class="text-wrap">
                                <div class="review-meta">
                                    <h5 class="name">@userName</h5>
                                    @*<div class="flat-star style-1">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </div>*@
                                </div>
                                <div class="review-text">
                                    <p>@review.Body</p>
                                </div>
                            </div>
                        </li><!--  /.review    -->

                    }
                </ol><!-- /.review-list -->
            }

            <div class="comment-respond review-respond" id="respond">
                <div class="comment-reply-title margin-bottom-14">
                    <h5>Write a review</h5>
                </div>
                <form novalidate="" class="comment-form review-form" id="reviewform" method="post" action="#">
                    @*<p class="flat-star style-2">
                            <label>Rating*:</label>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </p>*@
                    <p class="comment-form-comment">
                        <textarea class="form-control" tabindex="4" name="body" required> </textarea>
                    </p>

                    <input type="hidden" name="UserId" value="@Model.AuthenticatedUser.Id" />
                    <input type="hidden" name="ProductId" value="@Model.ProductId" />
                    <p class="form-submit">
                        <button id="addReviewBtn" type="button" class="comment-submit">Submit</button>
                    </p>
                </form>
            </div><!-- /.comment-respond -->

        </div>
    </div><!-- /.content-inner -->
</div>

<script>
    $("#addReviewBtn").click(function () {
        $.ajax({
            url: '@Url.Action("AddReview","Review")',
            data: $("#reviewform").serialize(),
        })
        .done(function (result) {
            debugger;
            if (result) {
                $("#reviewsDiv").html(result);
            } else {
                swal("Failed", "Something went wrong.", {
                    icon: "warning",
                });
            };
        })
        .fail(function () {
            alert("Fail");
        })
    });
</script>