@model eCom.Web.ViewModels.CategorySearchViewModel

@{
    ViewBag.Title = "Category Table";
}

<div>
    <form>
        <div class="input-group mt-3 mb-3">
            <input id="searchTxt" name="Search" class="form-control mr-1" value="@Model.SearchTerm" placeholder="Search..." />
            <div class="input-group-append">
                <button type="button" id="searchBtn" class="btn btn-primary">Search</button>
                <button type="button" id="resetBtn" class="btn btn-primary">Reset</button>
                <button type="button" id="newCategoryBtn" class="btn btn-primary">New</button>
            </div>
        </div>
    </form>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Category</th>
                <th>Products</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Categories != null && Model.Categories.Count > 0)
            {
                foreach (var category in Model.Categories)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>@category.Products.Count</td>
                        <td>
                            <button class="editBtn" data-id="@category.Id">Edit</button>
                            <button class="deleteBtn" data-id="@category.Id" data-name="@category.Name">Delete</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="3" class="text-danger">No categories found.</td></tr>
            }
        </tbody>
    </table>
</div>

<script>
    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();
        $.ajax({
            url: '@Url.Action("CategoryTable", "Category")', 
            data: {
                search: searchValue
            },
            type: 'Get',
        })
        .done(function (result) {
            $("#tableContainer").html(result);
        })
        .fail(function () {
            alert("Fail");
        })
    });

    $("#resetBtn").click(function () {
        $.ajax({
            url: '@Url.Action("CategoryTable", "Category")',
            type: 'Get',
        })
        .done(function (result) {
            $("#tableContainer").html(result);
            $("#actionContainer").empty();
        })
        .fail(function () {
            alert("Fail");
        })
    });

    $("#newCategoryBtn").click(function () {
        $.ajax({
            url: '@Url.Action("Create","Category")',
        })
        .done(function (result) {
            $("#actionContainer").html(result);

            focusAction();
        })
        .fail(function () {
            alert("Fail");
        })
    });

    $(".editBtn").click(function () {
        var id = $(this).attr("data-id");
        $.ajax({
            url: '@Url.Action("Edit", "Category")',
            data: {
                id: id
            }
        })
        .done(function (result) {
            $("#actionContainer").html(result);

            focusAction();
        })
        .fail(function () {
            alert("Fail");
        })
    });

    $(".deleteBtn").click(function () {
        var id = $(this).attr("data-id");
        var name = $(this).attr("data-name");

        swal({
            title: "Confirm!",
            text: "Are you sure. you wanna delete " + name + " ?" ,
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then(function (willDelete) {
            if (willDelete) {
                $.ajax({
                    url: '@Url.Action("Delete","Category")',
                    data: {
                        id: id
                    },
                    type: 'Post'
                })
                .done(function (result) {

                    swal( name + " deleted successfuly.", {
                        icon: "success",
                    });

                    $("#tableContainer").html(result);
                    $("#actionContainer").empty();
                })
                .fail(function () {
                    alert("Fail");
                });
            }
        });
    });

    function focusAction() {
        $('html, body').animate({
            scrollTop: $("#actionContainer").offset().top - 100
        }, 700);
    }
</script>