@model eCom.Web.ViewModels.EditProductViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Product</h2>

<form id="editProductForm">

    <input type="hidden" name="Id" value="@Model.Id" />

    <div class="form-group">
        <label>Category</label>
        <select name="CategoryId" class="form-control">
            @if (Model.Categories != null && Model.Categories.Count > 0)
            {
                foreach (var category in Model.Categories)
                {
                    
                    var selectedCategory = category.Id == Model.CategoryId ? "selected" : string.Empty;
                    
                    <option value="@category.Id" @selectedCategory>@category.Name</option>
                }
            }
        </select>



    </div>

    <div class="form-group">
        <label>Name</label>
        <input name="name" class="form-control" value="@Model.Name" placeholder="Product name..." />
    </div>

    <div class="form-group">
        <label>Description</label>
        <input name="Description" class="form-control" value="@Model.Description" placeholder="Description..." />
    </div>

    <div class="form-group">
        <label>Price</label>
        <input type="number" name="Price" class="form-control" value="@Model.Price" placeholder="Price..." />
    </div>

    <button type="button" class="btn btn-primary" id="updateBtn">Update</button>
    <button type="button" class="btn btn-primary" id="cancelBtn">Cancel</button>

</form>

<script>
    $("#updateBtn").click(function () {
        $.ajax({
            url: '@Url.Action("Edit","Product")',
            data: $("#editProductForm").serialize(),
            type: 'Post',
        })
        .done(function (result) {
            $("#tableContainer").html(result);
            $("#actionContainer").empty();
            focusElement("tableContainer");
        })
        .fail(function () {
            alert("Fail");
        })
    });

    $("#cancelBtn").click(function () {
        $("#actionContainer").empty();
        focusElement("tableContainer");
    })
</script>