@model eCom.Web.ViewModels.EditProductViewModel

@{
    ViewBag.Title = "Edit";
    var imageUrl = Model.ImageUrl != null ? Model.ImageUrl : "/content/images/default.jpg";
}

<h2>Edit Product</h2>

<form id="editProductForm">
    <div class="row mt-2">
        <div class="col-md-8">
            <input type="hidden" name="Id" value="@Model.Id" />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Category</label>
                        <select name="CategoryId" class="form-control">
                            @if (Model.Categories != null && Model.Categories.Count > 0)
                            {
                                foreach (var category in Model.Categories)
                                {

                                    var selectedCategory = category.Id == Model.CategoryId ? "selected" : string.Empty;

                                    <option value="@category.Id" @selectedCategory>@category.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Name</label>
                        <input name="name" class="form-control" value="@Model.Name" placeholder="Product name..." />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Description</label>
                <input name="Description" class="form-control" value="@Model.Description" placeholder="Description..." />
            </div>

            <div class="form-group">
                <label>Price</label>
                <input type="number" name="Price" class="form-control" value="@Model.Price" placeholder="Price..." />
            </div>

            <div class="form-group">
                <label>Image</label>
                <input id="selectImage" class="form-control" name="Image" type="file" accept=".png, .jpg" />
                <input id="imageUrl" type="hidden" value="@Model.ImageUrl" name="ImageUrl" />
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumb">
                <img id="productImage" class="img-thumbnail img-fluid" src="@imageUrl" />
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" id="updateBtn">Update</button>
    <button type="button" class="btn btn-primary" id="cancelBtn">Cancel</button>

</form>

<script>
    $("#selectImage").change(function () {
        var element = this;

        var formData = new FormData();
        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Picture", file);
        }

        $.ajax({
            type: 'Post',
            url: '@Url.Action("UploadImage","Shared")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
        .done(function (response) {
            if (response.success) {
                $("#productImage").attr("src", response.imageURL);
                $("#imageUrl").val(response.imageURL);
            }
        })
        .fail(function () {
            alert("Fail");
        })
    })

    @* validation form *@
    $('#editProductForm').validate({
        rules: {
            name: {
                required: true,
                minlength: 5,
                maxlength: 50
            },
            Description: {
                maxlength: 500
            },
            Price: {
                required: true,
                range: [1, 1000000]
            }
        },
        messages: {
            name: {
                required: 'Name is required.',
                minlength: 'Minimum Length is 5',
                maxlength: 'Maximum Length is 50'
            },
            Description: {
                maxlength: 'Maximum Length is 500'
            },
            Price: {
                required: "Price is required.",
                range: 'Inavlid price.'
            }
        },
        errorClass: "text-danger"
    });

    $("#updateBtn").click(function () {
        if ($("#editProductForm").valid()) {
            $.ajax({
                url: '@Url.Action("Edit","Product")',
                data: $("#editProductForm").serialize(),
                type: 'Post',
            })
            .done(function (result) {
                $("#tableContainer").html(result);
                $("#actionContainer").empty();
                focusElement("tableContainer");
            })
            .fail(function () {
                swal({
                    title: "Warning!",
                    text: "Please, Check your inputs.",
                    icon: "warning",
                    dangerMode: true,
                });
            });
        } else {
            swal({
                title: "Warning!",
                text: "Please, Check your inputs.",
                icon: "warning",
                dangerMode: true,
            });
        };
    });

    $("#cancelBtn").click(function () {
        $("#actionContainer").empty();
        focusElement("tableContainer");
    })
</script>