@model eCom.Web.ViewModels.ProductSearchViewModel

@{
    ViewBag.Title = "ProductTable";
}

<div>
    <form>
        <div class="input-group mt-3 mb-3">
            <input id="searchTxt" name="Search" class="form-control mr-1" value="@Model.SearchTerm" placeholder="Search..." />
            <div class="input-group-append">
                <button type="button" id="searchBtn" class="btn btn-primary">Search</button>
                <button type="button" id="newBtn" class="btn btn-primary">New</button>
            </div>
        </div>
    </form>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Products != null && Model.Products.Count > 0)
            {
                foreach (var product in Model.Products)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>
                            @if (product.Category != null)
                            {
                                <text> @product.Category.Name </text>
                            }
                            else
                            {
                                <text> - </text>
                            }
                        </td>
                        <td>@product.Price</td>
                        <td>
                            <button class="editBtn" data-id="@product.Id">Edit</button>
                            <button class="deleteBtn" data-id="@product.Id">Delete</button>
                        </td>
                    </tr>
                }
            }
            else
            {

            <tr><td colspan="4" class="text-danger">No products found.</td></tr>}
        </tbody>

    </table>
</div>

<script>
    $("#searchBtn").click(function () {
        debugger;
        var searchValue = $("#searchTxt").val();
        $.ajax({
            url: '/Product/ProductTable',
            data: {
                search: searchValue
            },
            type: 'Get',
        })
        .done(function (result) {
            $("#tableContainer").html(result);
            debugger;
        })
        .fail(function () {
            alert("Fail");
        })
        debugger;
    });

    $("#newBtn").click(function () {
        $.ajax({
            url: '/Product/Create',
        })
        .done(function (result) {
            $("#actionContainer").html(result);
            focusAction()
        })
        .fail(function () {
            alert("Fail");
        })
    })

    $(".editBtn").click(function () {
        var id = $(this).attr("data-id");
        $.ajax({
            url: '/Product/Edit/' + id ,
        })
        .done(function (result) {
            $("#actionContainer").html(result);
            focusAction();
        })
        .fail(function () {
            alert("Fail");
        })
    })

    $(".deleteBtn").click(function () {
        var id = $(this).attr("data-id");

        var confirmDelete = confirm("Are you sure. you wanna delete this product?");

        if (confirmDelete) {
            $.ajax({
                url: '/Product/Delete/' + id,
                type: 'Post'
            })
             .done(function (result) {
                 $("#tableContainer").html(result);
             })
             .fail(function () {
                 alert("Fail");
             })
        }
    });
    
    function focusAction(){
        $('html, body').animate({
            scrollTop: $("#actionContainer").offset().top - 100
        }, 700);
    }

</script>