@model eCom.Web.ViewModels.ProductSearchViewModel

@{
    ViewBag.Title = "ProductTable";
}

<div>
    <form id="controlForm">
        <div class="input-group mt-3 mb-3">
            <input id="searchTxt" name="Search" class="form-control mr-1" value="@Model.SearchTerm" placeholder="Search..." />
            <select name="selectCategory" id="selectCategory" class="form-control mr-1">
                <option>Filter by category</option>
                @foreach (var category in Model.Categories)
                {
                    var isSelected = category.Id == Model.CategoryId ? "selected" : string.Empty;
                    <option value="@category.Id" @isSelected>@category.Name</option>
                }
            </select>
            <div class="input-group-append">
                <button type="button" id="searchBtn" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                <button type="button" id="resetBtn" class="btn btn-primary"><i class="fa fa-refresh"></i> Reset</button>
                <button type="button" id="newBtn" class="btn btn-primary"><i class="fa fa-plus"></i> New</button>
            </div>
        </div>
    </form>

</div>

<div>
    <table id="productsTable" class="table table-striped">
        <thead>
            <tr>
                <th class="font-weight-bold">Product Name</th>
                <th class="font-weight-bold">Category</th>
                <th class="font-weight-bold">Price</th>
                <th class="font-weight-bold">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Products != null && Model.Products.Count > 0)
            {
                foreach (var product in Model.Products)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>
                            @if (product.Category != null)
                            {
                                <text> @product.Category.Name </text>
                            }
                            else
                            {
                                <text> - </text>
                            }
                        </td>
                        <td>@product.Price</td>
                        <td>
                            <button class="editBtn" data-id="@product.Id"><i class="fa fa-pencil"></i> Edit</button>
                            <button class="deleteBtn" data-id="@product.Id" data-name="@product.Name"><i class="fa fa-trash"></i> Delete</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="4" class="text-danger">No products found.</td></tr>}
        </tbody>

    </table>
    <div class="d-flex justify-content-center">
        @if (Model.Pager != null && Model.Pager.TotalPages > 1)
        {
            <nav aria-label="Page navigation example">
                <ul class="flat-pagination">
                    @if (Model.Pager.CurrentPage != 1)
                    {
                        <li class="page-item">
                            <button class="pageButtons page-link" data-pageno="1"><i class="fa fa-angle-double-left"></i></button>
                        </li>
                        <li class="page-item">
                            <button class="pageButtons page-link" data-pageno="@(Model.Pager.CurrentPage -1)"><i class="fa fa-angle-left"></i></button>
                        </li>
                    }

                    @for (int page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                    {
                        string activeClass = Model.Pager.CurrentPage == page ? "bg-danger" : string.Empty;

                        <li class="page-item">
                            <button class="pageButtons page-link @activeClass" data-pageno="@page">@page</button>
                        </li>
                    }
                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                    {
                        <li class="page-item">
                            <button class="pageButtons page-link" data-pageno="@(Model.Pager.CurrentPage +1)"><i class="fa fa-angle-right"></i></button>
                        </li>
                        <li class="page-item">
                            <button class="pageButtons page-link" data-pageno="@Model.Pager.EndPage"><i class="fa fa-angle-double-right"></i></button>
                        </li>
                    }
                </ul>
            </nav>
        }
    </div>
</div>

<script>

    $("#selectCategory").change(function () {
        $.ajax({
            url: '@Url.Action("ProductTable","Product")',
            data: {
                search: '@Model.SearchTerm',
                categoryId: $("#selectCategory").val()
            },
        })
       .done(function (result) {
           $("#tableContainer").html(result);
           focusElement("tableContainer");
       })
       .fail(function () {
           alert("Fail");
       })
    });

    $(".pageButtons").click(function () {
        $.ajax({
            url: '@Url.Action("ProductTable","Product")',
            data: {
                pageNo: $(this).attr("data-pageNo"),
                search: '@Model.SearchTerm',
                categoryId: '@Model.CategoryId'
            },
        })
        .done(function (result) {
            $("#tableContainer").html(result);
            focusElement("tableContainer");
        })
        .fail(function () {
            alert("Fail");
        })
    });

    $("#resetBtn").click(function () {
        $.ajax({
            url: '@Url.Action("ProductTable","Product")'
        })
        .done(function (response) {
            $("#tableContainer").html(response);
            $("#actionContainer").empty();
            debugger;
        })
        .fail(function () {
            alert("Fail");
        })
        debugger;
    })

    //search by click on search btn
    $("#searchBtn").click(function () {
        getAjaxSearch();
    });

    //search by press enter
    $("#controlForm").keypress(function (event) {
        if (event.keyCode == 13) // 13 is the keycode for enter
        {
            getAjaxSearch();
            return false;
        }
    });

    function getAjaxSearch() {
        var searchValue = $("#searchTxt").val();
        $.ajax({
            url: '@Url.Action("ProductTable","Product")',
            data: {
                search: searchValue,
                categoryId: '@Model.CategoryId'
            },
            type: 'Get',
        })
        .done(function (result) {
            $("#tableContainer").html(result);
            debugger;
        })
        .fail(function () {
            alert("Fail");
        })
    }

    $("#newBtn").click(function () {
        $.ajax({
            url: '@Url.Action("Create","Product")',
        })
        .done(function (result) {
            $("#actionContainer").html(result);
            focusElement("actionContainer");
        })
        .fail(function () {
            alert("Fail");
        })
    });

    $(".editBtn").click(function () {
        var id = $(this).attr("data-id");
        $.ajax({
            url: '@Url.Action("Edit","Product")',
            data: {
                id: id
            }
        })
        .done(function (result) {
            $("#actionContainer").html(result);
            focusElement("actionContainer");
        })
        .fail(function () {
            alert("Fail");
        })
    })

    $(".deleteBtn").click(function () {
        var id = $(this).attr("data-id");
        var name = $(this).attr("data-name");
        swal({
            title: "Confirm!",
            text: "Are you sure? wanna delete " + name + ".",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then(function (willDelete) {
            if (willDelete) {

                $.ajax({
                    url: '@Url.Action("Delete","Product")',
                    data: {
                        id: id
                    },
                    type: 'Post'
                })
                 .done(function (result) {

                     swal(name + " deleted successfuly.", {
                         icon: "success",
                     });

                     $("#tableContainer").html(result);
                     $("#actionContainer").empty();
                 })
                 .fail(function () {
                     alert("Fail");
                 })
            }
        });
    });

</script>