@model CheckoutViewModel

@if (Model != null && Model.CartProducts != null && Model.CartProducts.Count > 0)
{
    var i = 1;
    <section class="flat-row main-shop shop-slidebar">
        <div class="container">
            <div class="row">
                <div class="col-md-4 order-md-2 mb-4">
                    <h5 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Your cart</span>
                        <span class="badge badge-warning p-2">Cart will be empty after 1 day.</span> 
                    </h5>
                    <ul class="list-group mb-3">
                        @foreach (var product in Model.CartProducts)
                        {
                            var productQuantity = Model.CartProductIds.Where(productId => productId == product.Id).Count();

                            <li class="list-group-item  d-block justify-content-between lh-condensed" data-id="@product.Id">
                                <div>
                                    <h6 class="my-0">@i - @product.Name <span class="badge badge-success pull-right p-1">Qty: @productQuantity </span> </h6>
                                    <small class="text-muted">@(product.Description != null && product.Description.Length > 100 ? product.Description.Substring(0, 99) : product.Description)</small>
                                </div>
                                <span class="text-muted">
                                    Unit price: $<text class="text-danger">@product.Price</text>
                                    @if (productQuantity > 1)
                                    {
                                        <text>- Total price: $</text>  @(productQuantity * product.Price)
                                    }
                                </span>
                            </li>
                                    i++;
                        }

                        <li class="list-group-item d-flex justify-content-between">
                            <span>Total (USD)</span>
                            <strong class="text-danger">$@Model.CartProducts.Sum(x => x.Price * Model.CartProductIds.Where(productId => productId == x.Id).Count())</strong>
                        </li>
                    </ul>
                </div>

                <div id="userInfoDiv" class="col-md-8 order-md-1">
                    <h5 class="mb-3">Billing address</h5>
                    <form id="updateUserForm" class="needs-validation" novalidate="">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label for="firstName">Name</label>
                                <input type="text" class="form-control" name="Name" id="Name" placeholder="" value="@Model.User.Name" required="">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="email">Email</label>
                            <input disabled class="form-control" value="@Model.User.Email">
                        </div>

                        <div class="mb-3">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" name="Address" id="address" placeholder="1234 Main St" value="@Model.User.Address" required="">

                        </div>
                        <hr class="mb-4">
                        <div class="d-flex justify-content-center align-content-center">
                            <button id="updateUserBtn" class="btn btn-primary col-md-4 mr-2" type="button">Update User Info</button>
                            <button id="placeOrderBtn" class="btn btn-primary col-md-4 mr-2" type="button">Place Order</button>
                            <button id="removeCartBtn" class="btn btn-danger col-md" type="button">Empty Cart</button>
                        </div>

                    </form>
                </div>
            </div>

        </div><!-- /.container -->
    </section>

<script>
    $("#placeOrderBtn").click(function () {
        $.ajax({
            url: '@Url.Action("PlaceOrder", "Shop")',
            data: {
                productIds: '@string.Join("-",Model.CartProductIds)',
            },
        })
        .done(function (result) {
            if (result.success) {
                //$.cookie('@Model.User.Name.Replace(" ","")' + 'CartProducts', "", { path: '/' }); //path is so important to empty cookie not create new one, this empty cookie not remove
                $.removeCookie('@Model.User.Name.Replace(" ","")' + 'CartProducts', { path: '/' });
                //updateCartProducts();

                swal("Done", "Your order has been placed successfuly.", {
                    icon: "success",
                }).then(function (value) {
                    window.location = '@Url.Action("OrderPlaced","Shop")';
                });
            }
            else {
                swal("OOPS", "Unable to place order.", {
                    icon: "warning",
                });
            }
        })
        .fail(function () {
            alert("Fail");
        })
    });

    $("#updateUserBtn").click(function () {
        debugger;
        $.ajax({
            url: '@Url.Action("UpdateUser","Shop")',
            data: $("#updateUserForm").serialize(),
            type: 'Post'
        })
        .done(function (result) {
            if (result) {
                $("#checkoutContainer").html(result);
                swal("Done", "Your information has been updated successfuly.", {
                    icon: "success",
                });
            }
            else {
                swal("Fail", "Failed to update.", {
                    icon: "warning",
                });
            }
        })
        .fail(function () {
            swal("Fail", "Failed.", {
                icon: "warning",
            });
        })
    });

    //empty cart
    $("#removeCartBtn").click(function () {
        debugger;
        swal({
            title: "Confirm!",
            text: "Are you sure? wanna empty your cart.",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then(function (willDelete) {
            if (willDelete) {
                debugger;
                $.removeCookie('@Model.User.Name.Replace(" ", "")' + 'CartProducts', { path: '/' });
                swal("Cart empty successfuly.", {
                    icon: "success",
                }).then(function () {
                    window.location = '@Url.Action("Index", "Home")';
                });
            }
        });
    });
</script>
}
else
{
 
    <section class="flat-row main-shop shop-slidebar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        No products in cart yet.
                    </div>
                </div>
            </div>
        </div>>
    </section>

}