@model FilterProductViewModel

@{
    var defaultImgUrl = "/Content/Images/default.jpg";
}

<div class="filter-shop clearfix">
    <p class="showing-product float-right">
        Showing @(((Model.Pager.CurrentPage - 1) * Model.Pager.PageSize) + 1) – @(((Model.Pager.CurrentPage - 1) * Model.Pager.PageSize) + (Model.Products.Count < Model.Pager.PageSize ? Model.Products.Count : Model.Pager.PageSize)) of @Model.Pager.TotalItems Products
    </p>
</div><!-- /.filte-shop -->

<div class="product-content product-threecolumn product-slidebar clearfix">
    <ul class="product style2 sd1">
        @foreach (var product in Model.Products)
        {
            var imageUrl = string.IsNullOrEmpty(product.ImageUrl) ? defaultImgUrl : product.ImageUrl;

            <li class="product-item">
                <div class="product-thumb clearfix">
                    <a href="@Url.Action("Details","Product", new { id = product.Id})">
                        <img src="@imageUrl" alt="image" class="img-thumbnail" style="height:250px;">
                    </a>
                </div>
                <div class="product-info clearfix mt-2">
                    <span class="product-title">@product.Name</span>
                    <div class="price">
                        <ins>
                            <span class="amount">$@product.Price</span>
                        </ins>
                    </div>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="add-to-cart text-center">
                        <a class="productAddToCart" data-id="@product.Id">ADD TO CART</a>
                    </div>
                }
                @*<a href="#" class="like"><i class="fa fa-heart-o"></i></a>*@
            </li>

        }
    </ul><!-- /.product -->
</div><!-- /.product-content -->
@* Stop here !!! Pager  *@
<div id="paginationDiv" class="product-pagination text-center clearfix">
    @if (Model.Pager != null && Model.Pager.TotalPages > 1)
    {
        <ul class="flat-pagination">
            @if (Model.Pager.CurrentPage != 1)
            {
                <li class="prev">
                    <a data-href="@Url.Action("FilterProducts", "Shop", new { pageNo = 1, sortBy = Model.SortBy, categoryId = Model.CategoryId })" class="pageDataLink" style="cursor:pointer"><i class="fa fa-angle-double-left"></i></a>
                </li>
                <li>
                    <a data-href="@Url.Action("FilterProducts", "Shop", new { pageNo = (Model.Pager.CurrentPage - 1), sortBy = Model.SortBy, categoryId = Model.CategoryId })" class="pageDataLink" style="cursor:pointer"><i class="fa fa-angle-left"></i></a>
                </li>
            }

            @for (int page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
            {
                string activeClass = Model.Pager.CurrentPage == page ? "active" : string.Empty;

                <li class="@activeClass">
                    <a data-href="@Url.Action("FilterProducts", "Shop", new { pageNo = page, sortBy = Model.SortBy, categoryId = Model.CategoryId })" class="pageDataLink" style="cursor:pointer">@page</a>
                </li>
            }
            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li>
                    <a data-href="@Url.Action("FilterProducts", "Shop", new { pageNo = (Model.Pager.CurrentPage + 1), sortBy = Model.SortBy, categoryId = Model.CategoryId  })" class="pageDataLink" style="cursor:pointer"><i class="fa fa-angle-right"></i></a>
                </li>
                <li>
                    <a data-href="@Url.Action("FilterProducts", "Shop", new { pageNo = Model.Pager.EndPage, sortBy = Model.SortBy, categoryId = Model.CategoryId })" class="pageDataLink" style="cursor:pointer"><i class="fa fa-angle-double-right"></i></a>
                </li>
            }
        </ul>
    }
</div>

<input type="hidden" id="searchTerm" value="@Model.SearchTerm" />
<input type="hidden" id="sortBy" value="@Model.SortBy" />
<input type="hidden" id="categoryId" value="@Model.CategoryId" />

<script>
    $(".pageDataLink").click(function () {
        var url = $(this).attr("data-href");

        if (url != "" || url != undefined) {
            GetData(url);
        }
    });

    //add to cart
    var products;

    $(".productAddToCart").click(function () {
        var existingCookieData = $.cookie('cartProduct');

        if (existingCookieData != undefined && existingCookieData != "" && existingCookieData != null) //undefined: first time
        {
            products = existingCookieData.split('-'); //split('-'): every item in index of string , split(): all items in one index of string
        } else {
            products = []; //initialize
        }

        var productId = $(this).attr("data-id");
        products.push(productId);

        $.cookie('cartProduct', products.join('-')); // { path: '/'} to allow cookie in others controllers

        updateCartProducts(); //count in layout (code in main.js)

        swal("Added to cart successfuly.", {
            icon: "success",
        });
    });
</script>