@model OrdersViewModels

<div>
    <div class="mb-3 float-right">
        <div class="input-group-append">
            <button type="button" id="resetBtn" class="btn btn-primary">Reset</button>
        </div>
    </div>
    <select class="form-control col-md-3 mr-3" name="filterByStatus" id="filterByStatus">
        @foreach (var status in Model.AvailableStatus)
        {
            var isSelected = Model.Status == status ? "selected" : string.Empty;
            <option @isSelected>@status</option>
        }
    </select>
   
</div>

<div>
    <table id="ordersTable" class="table table-striped">
        <thead>
            <tr>
                <th class="font-weight-bold">Status</th>
                <th class="font-weight-bold">Total Price</th>
                <th class="font-weight-bold">Order Date</th>
                <th class="font-weight-bold">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Orders != null && Model.Orders.Count > 0)
            {
                foreach (var order in Model.Orders)
                {
                    <tr>
                        @switch (order.Status)
                        {
                            case "In Progress":
                                <td class="text-warning">@order.Status</td>
                                break;
                            case "Delivered":
                                <td class="text-success">@order.Status</td>
                                break;
                            default:
                                <td class="text-primary">@order.Status</td>
                                break;
                        }
                        <td>$@order.TotalAmount</td>
                        <td>@order.OrderedAt.ToString("f")</td>
                        <td>
                            <a class="detailsBtn" href="@Url.Action("Details", "Order", new { id = @order.Id })" data-id="@order.Id">Details</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="4" class="text-danger">No orders found.</td></tr>}
        </tbody>

    </table>

    <div class="product-pagination text-center clearfix">
        @if (Model.Pager != null && Model.Pager.TotalPages > 1)
        {
            <ul class="flat-pagination">
                @if (Model.Pager.CurrentPage != 1)
                {
                    <li class="prev">
                        <a class="pageButtons" data-pageno="1" style="cursor:pointer"><i class="fa fa-angle-double-left"></i></a>
                    </li>
                    <li>
                        <a class="pageButtons" data-pageno="@(Model.Pager.CurrentPage -1)" style="cursor:pointer"><i class="fa fa-angle-left"></i></a>
                    </li>
                }

                @for (int page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    string activeClass = Model.Pager.CurrentPage == page ? "active" : string.Empty;

                    <li class="@activeClass">
                        <a class="pageButtons" data-pageno="@page" style="cursor:pointer">@page</a>
                    </li>
                }
                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <li>
                        <a class="pageButtons" data-pageno="@(Model.Pager.CurrentPage + 1)" style="cursor:pointer"><i class="fa fa-angle-right"></i></a>
                    </li>
                    <li>
                        <a class="pageButtons" data-pageno="@Model.Pager.EndPage" style="cursor:pointer"><i class="fa fa-angle-double-right"></i></a>
                    </li>
                }
            </ul>
        }
    </div>
</div>

<script>
    $("#filterByStatus").change(function () {
        $.ajax({
            url: '@Url.Action("OrderTable","Order")',
            data: {
                pageNo: '@Model.Pager.CurrentPage',
                status: $("#filterByStatus").val()
            },
        })
        .done(function (result) {
            $("#tableContainer").html(result);
            focusElement("tableContainer");
        })
        .fail(function () {
            alert("Fail");
        })
    });

    $(".pageButtons").click(function () {
        $.ajax({
            url: '@Url.Action("OrderTable","Order")',
            data: {
                pageNo: $(this).attr("data-pageNo"),
                status: '@Model.Status'
            },
        })
        .done(function (result) {
            $("#tableContainer").html(result);
            focusElement("tableContainer");
        })
        .fail(function () {
            alert("Fail");
        })
    });

    $("#resetBtn").click(function () {
        $.ajax({
            url: '@Url.Action("OrderTable","Order")'
        })
        .done(function (result) {
            $("#tableContainer").html(result);
            focusElement("tableContainer");
        })
         .fail(function () {
             alert("Fail");
         })
    })
</script>